.booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #e2e2e2, var(--light-brown));
  height: calc(100vh - 4.5rem);
  overflow: hidden;
}

.booking .booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--brown);
  border-radius: 22px;
  padding: 2rem 1.5rem;
  margin: auto;
}

.booking-container .booking-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  color: #fff;
  gap: 1.3rem;
}

.booking-container .booking-header span {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #2d2c2c 0%,
    #676360 29%,
    #b2a193 67%,
    #ede4dc 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.booking-container .book form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.7rem;
}

.booking-container .book .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  cursor: text;
}

.booking-container .book .form-group svg {
  color: #000;
  margin-left: 9px;
}

.booking-container .book .form-group input {
  padding: 0.7rem;
  width: 350px;
  outline: none;
  border: none;
  background: transparent;
}

.booking-container
  .book
  .form-group
  input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.booking-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.nearbyCafes {
  height: 90%;
}

.nearbyCafes .nearbyCafes-header {
  display: flex;
  align-items: center;
}

.nearbyCafes .nearbyCafes-header span {
  margin-left: 1rem;
  font-size: var(--medium-font);
  font-weight: bold;
}

.nearbyCafes .nearbyCafes-header h2 {
  text-align: center;
  margin-left: 0.5rem;
}

.nearbyCafes .nearbyCafes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 1024px) {
  .nearbyCafes .nearbyCafes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 376px) {
  .booking {
    flex-direction: column;
    /* align-items: normal; */
    height: 100%;
  }

  .booking .booking-container {
    border-radius: 20px;
    padding: 1.5rem 1rem;
    margin: 1rem;
  }

  .booking-container .booking-header {
    margin-bottom: 2rem;
    gap: 1rem;
  }
  
  .booking-container .booking-header span {
    font-size: var(--large-font);
  }

  .booking-container .booking-header h2 {
    font-size: var(--medium-font);
  }

  .nearbyCafes {
    height: 100%;
  }
  
  .nearbyCafes .nearbyCafes-header {
    margin: 1rem;
    font-size: 12px;
    /* max-width: 90%; */
  }

  .nearbyCafes .nearbyCafes-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
