<!DOCTYPE html>
<html>

<head>
    <title>Email Verification Success</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #E0D7D0, #987C66);
            height: 100svh;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        .text {
            color: #000;
            font-size: 30px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <p class="text">
            <%= message %>
        </p>
    </div>
</body>

</html>